<p>Dear user,</p>
<p>If you've requested to reset your password, please <a style="background-color: #00ACC4; display: inline-block; color: #fff; padding: 5px; text-decoration: none; border-radius: 7px;" href="http://localhost:4200/new-password?token=<%=token%>">click here</a> to do so.</p>
<p>Otherwise, please disregard this e-mail.</p>
<p>Thanks</p>
<p>Husky Software Smoke development team.</p>